<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.battlenet.com.cn/wow/zh/guild/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/POWER/"><em>Power</em></a> is a
  <a href="http://wow.blizzard.cn/">WOW</a> 部落 PFF Team @ CN-10,
 
  <%= link_to "This is our blog",  root_path %>
</p>
