<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  To jion us pls contact
 </br>
  <a href="http://www.battlenet.com.cn/wow/zh/character/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/%E5%B0%8F%E5%8D%B7%E5%8D%B7%E5%A4%A7%E5%8D%B7/simple">小卷卷大卷</a>.
  </br>
  <a href="http://www.battlenet.com.cn/wow/zh/character/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/%E9%A2%A8%E4%B9%8B%E8%A5%BF%E6%9E%97%E4%B8%B6/simple">風之西林丶</a>.
  </br>
  <a href="http://www.battlenet.com.cn/wow/zh/character/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/%E6%B4%92%E6%B4%92%E9%85%92%E9%85%92/simple">洒洒酒酒</a>.
  </br>
  <a href="http://www.battlenet.com.cn/wow/zh/character/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/%E8%AF%B8%E8%91%9B%E6%B5%81%E4%BA%91/simple">诸葛流云</a>.
  </br>
  <a href="http://www.battlenet.com.cn/wow/zh/character/%E5%8A%A0%E5%B0%94/%E6%88%91%E5%BF%83%E6%9C%AC%E5%96%84/simple">我心本善</a>.
  </br>
  <a href="http://www.battlenet.com.cn/wow/zh/character/%E5%8A%A0%E5%B0%94/%E6%AC%B2%E6%9C%9B%E7%8E%B7%E6%B4%81%E7%99%BD/simple">欲望玷洁白</a>.
  </br>
  Or just add our team YY : 44812070, QQ : 37707331.
</p>