<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To know about Power @ WOW CN-10
  <a href="http://www.battlenet.com.cn/wow/zh/guild/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/POWER/">View our Bettel net</a>.
  </br>
  
</p>

