<% provide(:title, "Home") %>


<div class="center jumbotron">
<%= link_to image_tag("power.png", alt: "power logo"),
            'http://www.battlenet.com.cn/wow/zh/guild/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/POWER/' %>
  <h1>Welcome to Power Blog</h1>

  <h2>
    This is the home page for 
    <a href="http://www.battlenet.com.cn/wow/zh/guild/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/POWER//">Power</a>
    @ 
    <a href="http://www.battlenet.com.cn/wow/zh/">WOW</a>
    CN-10 黑龙军团.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


