<footer class="footer">
  <small>
    The Blog for<a href="http://www.battlenet.com.cn/wow/zh/guild/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/POWER/"> Team Power</a>
    by <a href="http://www.battlenet.com.cn/wow/zh/character/%E9%BB%91%E9%BE%99%E5%86%9B%E5%9B%A2/%E9%A2%A8%E4%B9%8B%E8%A5%BF%E6%9E%97%E4%B8%B6/simple">風之西林丶</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/warcraft/">News</a></li>
    </ul>
  </nav>
</footer>